.main{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    text-align: left;
    height: 15vh;
    border-radius: 10px;
    box-shadow: 0 0 10px 0px rgba(0 , 0, 0, 0.5);
    padding: 0 0 0 10px;
    margin: 15px;
    max-width: 30vw;
    overflow: auto; 
}
.main .top{

    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 5px 0 0;
}
.main button{
    border: none;
    background-color: #576CBC;
    width: 80px;
    height: 40px;
    padding: 5px 10px;
    border-radius: 10px;
    color: #fff;
    font-size: 1.1em;
}
.main button:hover{
    background-color: #19376D;
}


@media (max-width: 1000px) {
    .main{
        min-width: 40vw;
    }
}

@media (max-width: 700px) {
    .main{
        min-width: 80vw;
        overflow: auto; 
    }
}